.card {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.pokemon-detail-container {
    padding: 20px;
    text-align: center;
}

.pokemon-image img {
    width: 200px;
}
